* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #faf8f3;
  font-family: 'GTAmericaMono-Regular', monospace;
  margin-top: 59.17px;
}

::selection {
  background-color: rgba(0, 0, 0, 0.6);
  color: #faf8f3;
}

nav.navbar {
  background-color: #faf8f3!important;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: 0.1em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

img.logo-header {
  max-width: 190px;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/01_bakeandgo_home.jpg')!important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
}

.banner h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  background: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.banner h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
}

.card-columns {
  column-count: 2;
}

article .btn {
  border-radius: 20px;
  background: #faf8f3;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 5px;
}

section h3 {
  font-size: 1.2em;
} 

article h3 {
  font-size: 1.2em;
} 

.btn {
  border-radius: 20px;
  background: #faf8f3;
  border: 1px solid #000;
  color: #000;
  margin-bottom: 40px;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

@font-face {
  font-family: 'GTAmericaMono-Regular';
  src: url('GTAmericaMono-Regular.eot');
  src: url('GTAmericaMono-Regular.eot?#iefix') format('embedded-opentype'),
       url('GTAmericaMono-Regular.svg#GTAmericaMono-Regular') format('svg'),
       url('GTAmericaMono-Regular.ttf') format('truetype'),
       url('GTAmericaMono-Regular.woff') format('woff'),
       url('GTAmericaMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.page-footer {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 90%, #000000 100%), url('../img/02_bakeandgo_footer.jpg')!important;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  color: #fff;
  font-size: 0.7em;
}

.page-footer a {
  font-size: 1em;
  color: #fff;
}

.fb-ic, .tw-ic, .ins-ic, .pin.ic:hover a {
  text-decoration: none !important;
}

.form-cadastro h3 {
  font-size: 1em;
}

.checkbox a {
  color: #000;
}

.form-cadastro h3 {
  font-size: 1.2em;
}

img.logo-footer {
  max-width: 250px;
}

.modal-content {
  background-color: #faf8f3;
}

.modal-footer a {
  color: #8f793c;
}

/* MEDIA QUERRIES */

@media only screen and (min-width: 420px) {
  body {
    margin-top: 73.14px;
  }
  
  img.logo-header {
    max-width: 270px;
  }

  img.logo-footer {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 100vh;
    padding: 0;
  }
  .banner h1 {
    font-size: 4rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .banner h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 300px) and (max-width: 574.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 575.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    }
}