*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bg-bakeandgo {
    background-color: #faf8f3;
}

.footer-link a {
    text-decoration: none!important;
    color: #fff;
}

.footer-link a:hover {
    color: #ffffffb6;
}